@import './../../SASS/base.scss';
@import './../../SASS/variables.scss';
// @import './../../HOME-PAGE//Header/Header.scss'

.header {
  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.header__wrap {
  // @media screen and (max-width: 767px) {
  //     position: relative;
  // }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.Dropdown {
  // position: relative;
  // width: 400px;
  // padding: 20px;
  // border: 1px solid black;
  @media screen and (max-width: 767px) {
    display: flex;
    margin-left: auto;
  }
}

.Dropdown__menu {
  @media screen and (max-width: 767px) {
    // чтоб сделать меню на всю ширину и длину вьюпотра
    // position: absolute;

    position: fixed;
     bottom: 0; 
     left: 0; 
     top: 0; 
     right: 0;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-color: $white-color;
    color: aliceblue;
    //  overflow: auto;
      // overflow-y: scroll;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;

  //    transform: translateX(-100%);
  // transition: opacity 300ms, transform 300ms;
  }
}



.dark-theme .Dropdown__menu {
  background-color: $black-color;
}

.Dropdown-contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.Dropdown__toggle {
  // скрыть разметку бургер меню
  display: none;
  @media screen and (max-width: 767px) {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    @media screen and (max-width: 767px) {
      // показать разметку бургер меню
      display: block;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      z-index: 70;
    }
  }
}

.dark-theme .Dropdown__toggle svg {
  background-color: $white-color;
}

.Dropdown__top {
  margin-top: 120px;
  margin-bottom: 60px;
}

.Dropdown__top li {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
}

.Dropdown__top li a {
  color: $text-color;
}

.dark-theme .Dropdown__top li a {
  // background-color: $black-color;
  color: $white-color;
}

.menu__item:hover {
  color: $accent-color;
  color: aqua;
}

.contacts__icon {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
  }
}

.alert-enter {
  opacity: 0;
  transform: translateX(-100%);
  // transition: opacity 300ms, transform 300ms;
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
  transform: translateX(0);
   transition: opacity 300ms, transform 300ms;
}

// .alert-exit-active {
//   // opacity: 0;
//   // transform: translateX(0);
//   // transition: opacity 300ms, transform 300ms;
// }

.dark-theme .iconMenu {
  background-color: $white-color;
  // color: $white-color;
}

.dark-theme .iconClouse {
  background-color: $black-color;
  // color: $white-color;
}
