@charset "UTF-8";
/* Базовые настройки ------------ */
.light-theme {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.dark-theme {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  cursor: url("../images/cursor/cursor1.png"), auto;
  font-family: Roboto, sans-serif;
}
.window {
  overflow: auto;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
}

::-webkit-scrollbar {
  border: 1px solid #fff;
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgba(89, 84, 12, 0.6615896359) 0%, rgb(92, 8, 79) 0%, rgba(153, 84, 209, 0) 100%);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #962fbf;
  border: 1px solid #fff;
}

/* скрыть заголовки и части текста */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Создание контейнера ----------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.center {
  text-align: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 116px;
    padding-bottom: 116px;
  }
}

.features,
.team,
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .features,
  .team,
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.work {
  padding-bottom: 94px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Личный нормализатор -------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding: 0;
  /* padding: 0;
  margin: 0; */
  color: var(--title-color);
}

p {
  margin-top: 0;
  /* padding: 0;
  margin: 0; */
}

/* чтоб можно было задать геометрию -------- */
a {
  display: block;
  text-decoration: none;
  font-style: normal;
  cursor: url("../images/cursor/cursor2.png"), auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Зброс зазора */
img {
  display: block;
  max-width: 100%;
  height: auto;
  /* margin: 0px;
  padding: 0px; */
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.dark-theme {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__wrap {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrap {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .Dropdown {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .Dropdown__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    color: aliceblue;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.dark-theme .Dropdown__menu {
  background-color: #000000;
}

@media screen and (max-width: 767px) {
  .Dropdown-contacts {
    margin-bottom: 40px;
  }
}

.Dropdown__toggle {
  display: none;
}
@media screen and (max-width: 767px) {
  .Dropdown__toggle {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .Dropdown__toggle {
    display: block;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    z-index: 70;
  }
}

.dark-theme .Dropdown__toggle svg {
  background-color: #ffffff;
}

.Dropdown__top {
  margin-top: 120px;
  margin-bottom: 60px;
}

.Dropdown__top li {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
}

.Dropdown__top li a {
  color: #757575;
}

.dark-theme .Dropdown__top li a {
  color: #ffffff;
}

.menu__item:hover {
  color: #962fbf;
  color: aqua;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
  }
}

.alert-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.dark-theme .iconMenu {
  background-color: #ffffff;
}

.dark-theme .iconClouse {
  background-color: #000000;
}/*# sourceMappingURL=Dropdown.css.map */