// @import './../../BaseScss/base.scss';
// @import './../../BaseScss/variables.scss';
@import './../../SASS/base.scss';
@import './../../SASS/variables.scss';

// .overlay {
//   margin: 0 auto;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;

//   @media screen and (max-width: 767px) {
//     max-width: 480px;
//     max-height: 400px;
//     background-image: url('../../images/hero/bh-img-480.jpg');
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: url('../../images/hero/bh-img-480-2x.jpg');
//     }
//   }

//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     max-width: 768px;
//     background-image: url('../../images/hero/bg-img-768.jpg');
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: url('../../images/hero/bg-img-768-2x.jpg');
//     }
//   }

//   @media screen and (min-width: 1200px) {
//     width: 1600px;
//     background-image: url('../../images/hero/bg-img-1200.jpg');
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: url('../../images/hero/bg-img-1200-1x.jpg');
//     }
//   }
// }

// .Carousel {
//   @media screen and (min-width: 1200px) {
//      width: 1600px;
//      height: 600px;
//   }

// }

.carousel-indicators [data-bs-target] {
border-radius: 100%;
width: 10px;
height: 10px;
}

.carousel-control-next-icon {
 
  fill: #188ce8;
  

}

.hero {
  // height: 600px;
  // background-color: rgba(47, 48, 58, 0.4);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.dark-theme .hero {
  background-color: $background-image;
}

.hero__title {
  width: 504px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin: 0 auto;

  color: $white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;

  @media screen and (max-width: 467px) {
    font-size: 22px;
    width: 282px;
  }

  @media screen and (min-width: 468px) and (max-width: 1199px) {
    width: 352px;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 1.56px;
  }

  @media screen and (min-width: 1200px) {
    width: 696;
    font-size: 44px;
    font-family: Roboto;
    line-height: 60px;
    letter-spacing: 2.64px;
  }
}

.hero__title {
  @media screen and (max-width: 767px) {
     margin-left: -20px;
  }

   @media screen and (min-width: 468px) and (max-width: 1199px) {
     width: 280px;
     margin-left: 195px;
   }

   @media screen and (min-width: 1200px) {
    margin-left: 265px;
   }

}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $white-color;

  background: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  &__clouse {
    padding: 0;
    margin: 0;
    border: none;
    background-color: $white-color;
  }
}

.btn {
  @media screen and (min-width: 1200px) {
    margin-left: 430px;
   }

    @media screen and (min-width: 468px) and (max-width: 1199px) {
     margin-left: 250px;
   }

}

.alert-enter {
  opacity: 0;
  // transform: scale(1);
}

.alert-enter-active {
  opacity: 1;
  transform: translate(0) scale(1);
  transition:
    opacity 300ms,
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 300ms,
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
