@import './../../SASS/base.scss';
@import './../../SASS/variables.scss';

.clients-list {
  display: flex;
  // width: 480px;
  justify-content: center;

  list-style-type: none;
  margin: 0px;
  padding-left: 0;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

// .clients {
//   text-align: center;
// }

.clients-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: $black-color;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.84px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}

.clients-item {
  margin-right: 30px;
  margin-bottom: 30px;
  height: 90px;
}

  .clients-item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
     margin-bottom: 0;
   }
  }
}
  

.clients-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 3);
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}


.clients-item {
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 6);
    &:last-child {
      margin-right: 0;
  }
  &:nth-child(n + 1) {
    margin-bottom: 0;
  }
  }
}
   
.clients-logo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: #afb1b8;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.clients-logo:hover,
.clients-logo:focus {
  fill: $accent-color;
  color: #2196f3;
  border: 1px solid $accent-color;
}