@import './../../BaseScss/base.scss';
@import './../../BaseScss/variables.scss';

.overlay {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    max-height: 400px;
    background-image:
      url("../../images/hero/bh-img-480.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../../images/hero/bh-img-480-2x.jpg');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
    background-image:
      url('../../images/hero/bg-img-768.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../../images/hero/bg-img-768-2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    width: 1600px;
    // height: 600px;
    background-image:
      url('../../images/hero/bg-img-1200.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../../images/hero/bg-img-1200-1x.jpg');
    }
  }
}

.hero {
  background-color: rgba(47, 48, 58, 0.4);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  // text-transform: uppercase;
}

.hero-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin: 0 auto;

  color: $white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;

  // transform: translate(0, 120%);
  // opacity: 0;
  // transition: transform 800ms;

  @media screen and (max-width: 467px) {
    font-size: 22px;
  }

  @media screen and (min-width: 468px) and (max-width: 1199px) {
    max-width: 360px;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 1.56px;
  }

  @media screen and (min-width: 1200px) {
    width: 696;
    font-size: 44px;
    font-family: Roboto;
    line-height: 60px;
    letter-spacing: 2.64px;
  }
}

// .hero-title.active {
//   transform: translate(0px, 0px);
//   opacity: 1;
// }

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $white-color;

  background: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover,
  &:focus {
    // background-color: deeppink;
    background-color: #188ce8;
  }

  &-clouse {
    padding: 0;
    margin: 0;
    border: none;
    background-color: $white-color;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // чтоб не прокручивалась модалька
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  /* прозрачность и спрятать модуалку */
  pointer-events: none;
  /* пропускать через модалку события */
}

.backdrop.is-hidden .form {
  transform: translate(-50%, -50%) scale(0.9);
}

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--white-color);
} */

.form {
  display: block;
  /* поставить по центру */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  
  padding: 40px;

  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  // transition-property: opacity;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  max-width: 340px;
// margin-top: 103px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media  screen and (min-width: 478px) and (max-width: 767px) {
    max-width: 450px;
    margin-top: 93px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 450px;
    margin-top: 208px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    height: auto;
  }

  .form-icon {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
    width: 30px;
    height: 30px;

    color: $black-color;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }

    &-icon:hover,
  &-icon:focus {
    fill: $accent-color;
  }
}

.form-title {
  text-align: center;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: #212121;

  @media screen and (max-width: 1199px) {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.6px;
  }
}

.form-input {
  padding-left: 15px;
  margin-bottom: 30px;

  width: 100%;
  height: 40px;
  cursor: pointer;
}

.form-input:hover,
.form-input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid $accent-color;
}

textarea {
  padding: 12px 15px;
  margin-bottom: 20px;
  resize: none;

  width: 100%;
  cursor: pointer;
  width: 448px;
  height: 120px;

  @media screen and (max-width: 1199px) {
    width: 100%;
    height: 120px;
  }
}

.real-checkbox {
  display: inline-block;
  /* снять все дефолтное оформление от браузера */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; */
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background: $white-color;
  border: 1px solid $black-color;
  border-radius: 4px;
  vertical-align: middle;
}

.custom-checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  /* border: 1px solid var(--accent-color); */
  background-image: url('./../../images/icon\ check.svg');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: cover; */
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.form-text,
.form-link {
  /* text-align: center; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    letter-spacing: 0.12px;
  }
}

.form-link {
  margin-left: 4px;
  color: $accent-color;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .btn {
  margin-top: 30px;
  padding-left: 55px;
  padding-right: 55px;
}

.form-link {
 text-decoration: underline;
}