@import './../../../SASS/base.scss';
@import './../../../SASS/variables.scss';

.allportfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.allportfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.allportfolio__item button {
  border: none;
  //   column-gap: 8px;
  padding: 6px 22px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;

  border-radius: 4px;
  background: #f5f4fa;
}

.allportfolio__item:not(:last-child) {
  margin-right: 8px;
}

.allportfolio__item button:hover {
  border-radius: 4px;
  color: $white-color;
  background: $accent-color;
  /* shadow-middle */
  box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.allportfolio__item2 {
  display: flex;
  flex-wrap: wrap;
}

.allportfolio__link {
  margin-right: 27px;
  margin-bottom: 30px;

  border: 1px solid #eee;
  background: #fff;
}

.allportfolio__link:hover {
  border: 1px solid #eee;
  background: #fff;
  box-shadow:
    1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.dark-theme .allportfolio__link:hover {
  background-color: $white-color;
}

.allportfolio__link:nth-child(3n) {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.allportfolio__link:nth-child(n + 7) {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.allportfolio__link:nth-child(n + 9) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
}

.allportfolio__link h2 {
  margin: 20px 24px 0;

  color: #212121;

  font-size: 18px;

  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.allportfolio__link p {
  margin: 20px 24px;
  color: #757575;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}

// .allportfolio__link a {
//     text-decoration: none;
// }

.allportfolio__link {
  @media screen and (max-width: 767px) {
    margin: 0;
  }
}

.allportfolio__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.allportfolio__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.allportfolio__item:nth-child(n + 4) {
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.allportfolio__link:nth-child(2n) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }
}

img {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 352px;
    height: 294px;
  }
}

.dark-theme .allportfolio__link {
  background-color: $background-image;
  border: none;
}

.dark-theme .allportfolio__link h2 {
  color: $text-color;
}

.box__active {
  position: relative;
  overflow: hidden;
}

.box__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

 background: rgba(33, 150, 243, 0.90);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.allportfolio__link:hover .box__overlay {
  transform: translateY(0);
}

.active {
  color: $accent-color;
  background-color: $accent-color;
}