@import './../../SASS/base.scss';
@import './../../SASS/variables.scss';

.features-list {
  display: flex;
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.features .features-title {
  @media screen and (max-width: 1600px) {
    text-align: center;
  }
}

.features-item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  @media screen and (max-width: 767px) {
    max-width: 450px;
    height: 120px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    height: 120px;
  }
}

.features-item:hover:before {
  transform: scale(1.1);
}

.features-item:nth-child(1)::before {
  background-image: url(../../images/icon/antenna-1.svg);
  cursor: url('../../images/cursor/cursor2.png'), auto;
}

.features-item:nth-child(2)::before {
  background-image: url(../../images/icon/clock-2.svg);
  cursor: url('../../images/cursor/cursor2.png'), auto;
}

.features-item:nth-child(3)::before {
  background-image: url(../../images/icon/diagram-3.svg);
  cursor: url('../../images/cursor/cursor2.png'), auto;
}

.features-item:nth-child(4)::before {
  background-image: url(../../images/icon/astronaut-4.svg);
  cursor: url('../../images/cursor/cursor2.png'), auto;
}

.features-title {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--black-color);
}

.features-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);

  @media screen and (max-width: 767px) {
    max-width: 450px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}

.features-item {
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 1 * 30px) / 2);
    margin-right: 30px;
  }
}

.features-item:nth-child(2n) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }
}

.features-item:nth-child(n + 4) {
  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }
}

.features-item:last-child {
  margin-right: 0;
}

.features-item:nth-child(n + 3) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
}

.features-item:nth-child(n + 1) {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
