@import './../../BaseScss/base.scss';
@import './../../BaseScss/variables.scss';

.team-list {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
  }
}

.team {
  text-align: center;
  background: #f5f4fa;
}

.dark-theme .team {
  background-color: $black-color;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--black-color);

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.84px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}

.team-flex {
  display: flex;
  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: center;
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.team-item {
  margin-right: 30px;
  margin-bottom: 30px;

  background: $white-color;

  border-radius: 0px 0px 4px 4px;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.team-item:nth-child(n + 3) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
}

.team-item:nth-child(2n) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }
}

.team-item:nth-child(1n) {
  @media screen and (max-width: 768px) {
    margin-right: 0;
  }
}

.team-item:last-child {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.team-item:last-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.team-item:hover,
.team-item:focus {
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-subtitle,
.team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: $black-color;
}

.dark-theme .team-subtitle {
    color: $text-color;
}

.team-text {
  padding-bottom: 16px;
  font-weight: 400;
  color: $text-color;
}

.team-list-icon {
  display: flex;
  padding: 12px;
  border: 0;
  border-radius: 50%;
  fill: #afb1b8;
  margin-bottom: 30px;
  cursor: pointer;

  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.team-list-icon a {
  // border-radius: 50%;
  fill: #afb1b8;
}

.team-list-icon:hover:nth-child(1) {
  background: $instagram;
}

.team-list-icon:hover:nth-child(2) {
background-color: $twitter;
}

.team-list-icon:hover:nth-child(3) {
background-color: $facebook;
}

.team-list-icon:hover:nth-child(4) {
background-color: $linkedin;
}

.team-list-icon a:hover {
  fill: $white-color;
}

.team-list-icon {
  margin-right: 10px;
}

.team-icon {
  width: 20px;
  height: 20px;
}

// .team-icon:hover {
//   fill: #f5f4fa;
// }

// svg path:hover {
//   fill: #f5f4fa;
// }

.team-list-icon:last-child {
  margin-right: 0;
}

.team img {
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}

.dark-theme .team-item {
    background-color: $background-image;
}

