@import './../../SASS/base.scss';
@import './../../SASS/variables.scss';


.backdrop {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // чтоб не прокручивалась модалька
  overflow-y: scroll;
  
  z-index: 999;
   
}

.backdrop.is-hidden {
  /* прозрачность и спрятать модуалку */
  opacity: 0;
    /* пропускать через модалку события */
  pointer-events: none;
}

.backdrop.is-hidden .form {
  transform: translate(-50%, -50%) scale(0.9);
}

.form {
  // display: block;
  /* поставить по центру */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
      // height: 100%;
  padding: 40px;
  background: $white-color;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 320px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 478px) and (max-width: 767px) {
    // max-width: 300px;
    // margin-top: 93px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 450px;
    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
      // margin-top: 208px;
    // height: auto;
  }
}



.form__icon {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
  // padding: 4px;
  padding-right: 10px;
  padding-top: 5px;
  // margin-right: 10px;
  // margin-top: 5px;
  // width: 30px;
  // height: 30px;
  //     width: 18px;
  // height: 18px;
  
  font-size: 17px;

  color: $black-color;

  // border: 1px solid rgba(0, 0, 0, 0.1);
  // border-radius: 50%;
  cursor: pointer;
}

.form__icon:hover,
.form__icon:focus {
  // fill: $accent-color;
  color: $accent-color ;
  
}

.form__title {
  text-align: center;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: #212121;

  @media screen and (max-width: 1199px) {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.6px;
  }
}
// input {
//   margin-top: 0;
// }

.form__input {
  display: block;
  margin-bottom: 28px;
  padding-left: 12px;
  width: 100%;
  // font-size: 26px;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
}

.form__input:hover,
.form__input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid $accent-color;
}

// button, input, optgroup, select, textarea {
//   font-size: 50%;
// }

.form textarea {
  padding: 12px 15px;
  margin-bottom: 20px;
  resize: none;
  width: 100%;
  cursor: pointer;
  width: 448px;
  height: 120px;
  // font-size: 40%;

  // @media screen and (max-width: 767px) {
  //   font-size: 16px;
  // }

  @media screen and (max-width: 1199px) {
    width: 100%;
    height: 120px;
  }
}

.real__checkbox {
  display: inline-block;
  /* снять все дефолтное оформление от браузера */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.custom__checkbox {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background: $white-color;
  border: 1px solid $black-color;
  border-radius: 4px;
  vertical-align: middle;
}

.custom__checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url('./../../images/icon\ check.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.real__checkbox:checked + .custom__checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.form__text,
.form__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    letter-spacing: 0.12px;
  }
}

.form__link {
  margin-left: 4px;
  color: $accent-color;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .btn {
  margin-top: 30px;
  padding-left: 55px;
  padding-right: 55px;
}

.form__link {
  text-decoration: underline;
}


// .form .btn__clouse {
//   font-size: 20px;
// }


.button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;

  color: $white-color;

  background: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  &__clouse {
    padding: 0;
    margin: 0;
    border: none;
    background-color: $white-color;
  }
}