@import './../../BaseScss/base.scss';
@import './../../BaseScss/variables.scss';

.footer {
  text-align: center;
  background-color: $footer;
}

html[data-theme='dark'] .footer {
 background-color: $black-color;
}

.footer-text {
  display: block;
  margin-bottom: 20px;
  margin-top: 60px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  // text-transform: uppercase;

  color: $white-color;

  @media screen and (min-width: 480px) {
    margin-top: 60px;
  }

  @media  screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.address-map {
  margin-top: 20px;
}

.footer-wrap {
  display: flex;
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  justify-content: space-around;
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
  }
}

.footer .logo {
  @media  screen and (min-width: 768px) {
    margin: 0 auto;
  }
}

.footer-icons {
  margin-left: 70px;
  @media screen and (max-width: 767px) {
    margin-left: 0;
  }

  @media  screen and (min-width: 768px) {
    margin-left: 0;
  }
}

.address-map,
.address-link {
  margin-bottom: 9px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $white-color;
}

.no-margin {
  margin-bottom: 0;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-icon a {
  display: flex;
  padding: 12px;
  border: 0;
  border-radius: 50%;
  /* fill: #afb1b8; */
  fill: $white-color;
  // margin-bottom: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-list-icon a:hover {
  color: $white-color;
  background-color: #2196f3;
}

.footer-list-icon {
  margin-right: 10px;
}

.footer-list-icon:last-child {
  margin-right: 0;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

.logo-studio-footer {
  color: $white-color;
}

.logo-web {
  color: $accent-color;
}

