$text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$footer: #2f303a;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

.light-theme {
  background-color: $white-color;
  color: $black-color;
}

.dark-theme {
  background-color: $black-color;
  color: $white-color;
}

// [data-theme='light'] {
//   background-color: $white-color;
//   color: $black-color;
// }

// [data-theme='dark'] {
//   background-color: $black-color;
//   color: $white-color;
// }

//   $background-color: #f6f6f6;
//   $foreground-color: #003cff;
//   $primary-text-color: #0a0a0a;
//   $secondary-text-color: #ffffff;
//   $toggle-bg: #f0eb9d;
//   $toggle-fg: #ffd000;

// [data-theme="dark"] {
//   --background-color: #0a0a0a;
//   --foreground-color: #567aff;
//   --primary-text-color: #f6f6f6;
//   --secondary-text-color: #0a0a0a;
//   --toggle-bg: #283452;
//   --toggle-fg: #00a6ff;
// }
