$text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$footer: #2f303a;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

.light-theme {
  background-color: $white-color;
  color: $black-color;
}

.dark-theme {
  background-color: $black-color;
  color: $white-color;
}

$linkedin: #0A66C2;
$twitter: #1D9BF0;
$facebook: #3d5998;
$instagram: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
