$text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$background-color: #2f303a;

$mobile: 480px;
$tablet: 768px;
$desktop:1200px;

$fullstack: #2e5bb7;
$frontend: #a16ef2;
$project-manager: #deb43d;
$design: #e556dd;
$qa-manual: #48b65e;
$python: #f48f33;
$java: #f34b70;
$smm: #27e3c9;
$data-analytics: #e3c071;
$it: #36e82d;