@import "./../../BaseScss/base.scss";
@import "./../../BaseScss/variables.scss";

.work-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--black-color);
}

.work-item {
  display: inline-block;
  /* width: calc((100% - 60px) / 2); */
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

// .work-item:last-child {
//   margin-right: 0;
// }

.work-image {
  transform: scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover {
    transform: scale(1.1);
  }
}

// .work-image:hover {
//   transform: scale(1.1);
// }